name: Test Tailscale Connection

on:
  push:
    branches: [ "main" ]

jobs:
  test-tailscale:
    runs-on: ubuntu-latest

    steps:
      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Authenticate to Tailscale
        run: |
          sudo tailscale up --authkey ${{ secrets.TAILSCALE_AUTHKEY }} --hostname ci-test-runner

      - name: Show Tailscale status
        run: |
          tailscale status

      - name: Ping deployment server
        run: |
          ping -c 3 100.72.165.35   # <-- remplace par l’IP Tailscale de ta machine

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 100.72.165.35 >> ~/.ssh/known_hosts
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh root@100.72.165.35 << 'EOF'
          echo "Déploiement du site statique..."

          DP_DIR="$HOME/ci-cd"

          # Cloner l e repo dans le bon dossier
          git clone --depth=1 https://github.com/momox886/ci-cd.git "$DP_DIR" || echo "Repo existe déjà, mise à jour"
          cd "$DP_DIR"

          # Créer et activer l'environnement virtuel
          python3 -m venv .venv
          source .venv/bin/activate

          # Installer les dépendances
          pip install -r requirements.txt

          # Lancer l'application Flask en arrière-plan
          nohup python run.py > flask.log 2>&1 &

          echo "Déploiement terminé !"
          EOF

